.st0{fill:#FFFFFF;}
.st1{fill:#FF9900;}
.st2{fill:#F2F9F9;}
.st3{fill:#F8F7EF;}
.st4{fill:#0D0C0C;}
.st5{fill:#0E0D0D;}
.st6{fill:#0A0701;}
.st7{fill:#0A0603;}
.st8{fill:#120B03;}
.st9{fill:#120D05;}
.st10{fill:#C4BDBD;}
.st11{fill:#DBDCDC;}
.st12{fill:#D0DEDE;}
.st13{fill:#E5EFEF;}
.st14{fill:none;}