.st0{fill:#FFFFFF;}
.st1{fill:#010000;}
.st2{fill:#FD9801;}
.st3{fill:#F8F9F9;}
.st4{fill:#F8FAFA;}
.st5{fill:#F0F6F2;}
.st6{fill:#F1F6F1;}
.st7{fill:#1A1313;}
.st8{fill:#FE9801;}
.st9{fill:#8C9B9B;}
.st10{fill:#482F03;}
.st11{fill:#A56700;}
.st12{fill:#96620B;}
.st13{fill:#1B1A1A;}
.st14{fill:#231E1E;}