.st0{fill:#FFFFFF;}
	.st1{fill:#CDCDCD;}
	.st2{fill:#FEFEFE;}
	.st3{fill:#FDFDFD;}
	.st4{fill:#FC9700;}
	.st5{fill:#F4F7F7;}
	.st6{fill:#F3F3F3;}
	.st7{fill:#312A2A;}
	.st8{fill:#F4F5F5;}
	.st9{fill:#F5F6F6;}
	.st10{fill:#E7ECEC;}
	.st11{fill:#EBECEC;}
	.st12{fill:#F8F9F9;}
	.st13{fill:#DEE1E1;}
	.st14{fill:#F8F8F8;}
	.st15{fill:#EBF0F0;}
	.st16{fill:#E3E9E9;}
	.st17{fill:#DCE4E4;}
	.st18{fill:#373030;}
	.st19{fill:#474747;}
	.st20{fill:#D2D4D4;}
	.st21{fill:#312B2B;}
	.st22{fill:#3D3131;}
	.st23{fill:#B2B8B8;}
	.st24{fill:#F9FEFE;}
	.st25{fill:#B5BBBB;}
	.st26{fill:#AFB2B2;}
	.st27{fill:#4F5959;}
	.st28{fill:#7C8787;}
	.st29{fill:#889191;}
	.st30{fill:#110F0F;}
	.st31{fill:#100D0D;}
	.st32{fill:#101111;}
	.st33{fill:#1C1818;}
	.st34{fill:#1C1713;}
	.st35{fill:#231A10;}
	.st36{fill:#150D00;}
	.st37{fill:#EDF4F4;}
	.st38{fill:#E3EBEB;}
	.st39{fill:#D98300;}
	.st40{fill:#F19200;}