.st0{fill:#FFFFFF;}
.st1{fill:#FF9900;}
.st2{fill:#FE9900;}
.st3{fill:#FEFEFE;}
.st4{fill:#CCCDCD;}
.st5{fill:#F7F8F8;}
.st6{fill:#F9FAFA;}
.st7{fill:#CBCBCB;}
.st8{fill:#F7FAFA;}
.st9{fill:#FC9902;}
.st10{fill:#FAFBFB;}
.st11{fill:#F1F4F4;}
.st12{fill:#FCFBF9;}
.st13{fill:#FBFCFC;}
.st14{fill:#E6E7E7;}
.st15{fill:#E3E5E5;}
.st16{fill:#F6F9F9;}
.st17{fill:#F6F5F3;}
.st18{fill:#F59300;}
.st19{fill:#FCF7F4;}
.st20{fill:#F89702;}
.st21{fill:#E8E9E9;}
.st22{fill:#E48900;}
.st23{fill:#E5ECEC;}
.st24{fill:#F3F0F0;}
.st25{fill:#EAEFEF;}
.st26{fill:#F5FAFA;}
.st27{fill:#F5EFED;}
.st28{fill:#EAEEEE;}
.st29{fill:#E5EBE6;}
.st30{fill:#ED8A03;}
.st31{fill:#E4E8E8;}
.st32{fill:#120E00;}
.st33{fill:#231F1F;}
.st34{fill:#090808;}
.st35{fill:#1F1313;}
.st36{fill:#262121;}